{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="background">
    <h1 style='text-align: center'>Zach's Web Application</h1>
    <br>
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/iyrrn20zt5za9ma/styles.css"/>
    <script>
        $(document).ready(function(){
            $('table').DataTable();
            $("#form_button").on('click', function(e) {
                    e.preventDefault();
                    $('#hidden_data').removeClass('hidden');
                });
        } );
        function validateDropDown() {
                var ddl = document.getElementById('ddl');
                if(ddl.selectedIndex == 0) {
                   <img src="{{ imageSBL }}" />
                }
                if(ddl.selectedIndex == 1){
                    document.querySelector('form').classList.remove('.hidden')
                }
                if(ddl.selectedIndex == 2){
                    document.querySelector('form').classList.remove('hidden')

                }
                if(ddl.selectedIndex == 3){
                    document.querySelector('form').classList.remove('hidden')

                }
                if(ddl.selectedIndex == 4){
                    document.querySelector('form').classList.remove('hidden')

                }
                return true;
            }
    </script>
</div>
<div>
    <p class="lead">Select Option from dropdown window</p>
</div>
<div>
    <form id='form_id' onsubmit="return validateDropDown('ddl');">
        <select id="ddl">
            <option>Single Line Graph</option>
            <option>Multiple Line Graph</option>
            <option>Single Bar Graph</option>
            <option>Stacked Bar Graph</option>
        </select>
        <br>
        <input id='form_button' type="submit" />
    </form>
</div>
<br>
<div>
    <form id='hidden_data' class='hidden' method="POST" enctype="multipart/form-data" action="/">
        <input class='background' type="file" id="myFile" name="filename" accept=".csv">
        <input type="submit">
    </form>
    </div>
</div>
<br>
<br>
<div id="div_table">
    {% for table in tables %}
            {{ table|safe }}
    {% endfor %}
    {{ error_msg }}
</div>
<div>
    <!-- <img src="{{ image }}"/> -->
</div>
<div>

{% endblock %}
