<!DOCTYPE html>

<html lang='en'>
    <head class='background'>
        <title>{% block title %}{% endblock %}</title>
         <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/iyrrn20zt5za9ma/styles.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
         <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    </head>
    <body class="background">
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="/">Home</a></li>
                        <li role="presentation"><a href="/help">Help</a></li>
                        <li role="presentation"><a href="/signup">Register</a></li>
                        <li role="presentation"><a href="/login">Login</a></li>
                    </ul>
                    </nav>
            </div>
            {% block body %}
            {% endblock %}
            <br>
            <footer class="footer">
                <p>@ 2021 - Zach</p>
            </footer>
        </div>
    </body>
</html>