{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block body %}

<div class="jumbotron">
    <h1 style="text-align: center;">The Help Page</h1>
    <br>
    <p style="text-align: center;"class="lead">This page will help you learn how to use this site.</p>
</div>
<div>
    <h3 style="text-align: center;">To view the data of a csv file, upload the file on the home page. Then it will load the desired file, to convert it to a line graph, bar graph, or dot graph; select the type from the dropbox box and select submit.</h3>
</div>
{% endblock %}