{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="jumbotron">
    <h1 style='text-align: center'>Zach's Web Application</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/iyrrn20zt5za9ma/styles.css"/>

    <script>
        $(document).ready(function(){
            $('table').DataTable();
        } );
    </script>
</div>
<div>
    <p class="lead">Upload a csv file to view its data.</p>
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" id="myFile" name="filename" accept=".csv">
        <input type="submit">
    </form>
</div>
<br>
<div id="div_table">
    {% for table in tables %}
            {{ table|safe }}
    {% endfor %}
</div>
<div>

{% endblock %}